* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: coral; ;
    font-family: Papyrus , sans-serif;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    font-family:  Brush Script MT , sans-serif;
    text-align: center;
    padding: 2rem;
    background-color: #f4f4f4;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  header p {
    font-size: 1.2rem;
    color: #555;
  }
  
  header nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
  }
  
  section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  #projects .project {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  form input, form textarea, form button {
    display: block;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  